.item-ghost {
  transition: transform 0.18s ease;
  transform: rotateZ(5deg);
}

.item-ghost-drop{
  transition: transform 0.18s ease-in-out;
  transform: rotateZ(0deg)
}

.item-drop-preview {
  background-color: rgba(150, 150, 200, 0.1);
  border: 1px dashed #abc;
  margin: 5px;
}

.overflow-config {
  overflow: visible !important;
}
